
.s1{
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
}
.back{
    width: 100%;
    height: 100vh;
    background-image: url(banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.colordiv{
    width: 30%;
    height: 70vh;
    margin-top: 30vh;
    background-color: #b08ead;
}
.textin{
    margin-top: 35%;
    color: #4b3049;
}
#btn{
    color: white;
    background-color: #b08ead;
    border: none;
    padding: 15px 30px 15px 30px;
    border-radius: 4%;
}