.d1{
    width: 100%;
    height: 80vh;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    background-image: url(https://cdn.pixabay.com/photo/2023/10/12/08/23/bird-8310172_1280.png);
}
.d2{
    width: 100%;
    height: 80vh;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(https://media.istockphoto.com/id/1249775771/photo/fighting-common-kingfisher-birds.jpg?s=1024x1024&w=is&k=20&c=NXUSrdVCdBv5eWWRMgkJF2bTUm9ISRlI4dGf8EFfbjg=);
}